@* Modal unificado Ver/Editar Cadena usando Syncfusion Dialog *@
<ejs-tooltip id="tooltipModalCadena" 
             target=".info-tooltip-cadena" 
             opensOn="Hover" 
             width="300px"
             position="TopCenter"
             beforeRender="tooltipModalCadenaBeforeRender">
    <e-content-template>
        <div id="tooltipContentCadena"></div>
    </e-content-template>
</ejs-tooltip>

<div id="modalCadena" style="display: none;"></div>

<ejs-dialog id="modalCadena" 
            isModal="true" 
            showCloseIcon="true" 
            width="80%" 
            height="85%" 
            visible="false"
            header="Cadena #<span id='modalCadenaTitulo'>0</span>"
            created="modalCadenaCreated"
            open="modalCadenaOpen"
            close="modalCadenaClose"
            beforeClose="modalCadenaBeforeClose">
    <e-content-template>
        <div id="modalCadenaContenido">
            <ejs-tab id="tabsModalCadena" heightAdjustMode="Auto">
                <e-tab-tabitems>
                    <e-tab-item header="@(new Syncfusion.EJ2.Navigations.TabHeader { Text = "Información General" })">
                        <e-content-template>
                            <div id="tabInfoModalCadena" class="mt-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Información de la Cadena</h5>
                                            </div>
                                            <div class="card-body">
                                                <dl class="row">
                                                    <dt class="col-sm-5">ID Cadena:</dt>
                                                    <dd class="col-sm-7">
                                                        <strong id="modalIdCadena" class="info-tooltip-cadena" data-field="IdCadena" data-tooltip="Identificador único de la cadena comercial">-</strong>
                                                    </dd>
                                                    <dt class="col-sm-5">Nombre:</dt>
                                                    <dd class="col-sm-7">
                                                        <span id="modalNombreCadena" class="info-tooltip-cadena" data-field="NombreCadena" data-tooltip="Nombre comercial de la cadena">-</span>
                                                    </dd>
                                                    <dt class="col-sm-5">Razón Social:</dt>
                                                    <dd class="col-sm-7">
                                                        <span id="modalRazonSocial" class="info-tooltip-cadena" data-field="RazonSocial" data-tooltip="Razón social legal de la empresa">-</span>
                                                    </dd>
                                                    <dt class="col-sm-5">RFC:</dt>
                                                    <dd class="col-sm-7">
                                                        <span id="modalRFC" class="info-tooltip-cadena" data-field="RFC" data-tooltip="Registro Federal de Contribuyentes">-</span>
                                                    </dd>
                                                    <dt class="col-sm-5">Estado:</dt>
                                                    <dd class="col-sm-7" id="modalEstadoCadena">
                                                        <span class="info-tooltip-cadena" data-field="Estado" data-tooltip="Estado de la cadena: ACTIVE (activa), INACTIVE (inactiva), SUSPENDED (suspendida)">-</span>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Información Comercial</h5>
                                            </div>
                                            <div class="card-body">
                                                <dl class="row">
                                                    <dt class="col-sm-5">Número de Sucursales:</dt>
                                                    <dd class="col-sm-7">
                                                        <span id="modalNumeroSucursales" class="info-tooltip-cadena" data-field="NumeroSucursales" data-tooltip="Total de sucursales de la cadena">0</span>
                                                    </dd>
                                                    <dt class="col-sm-5">Límite de Crédito:</dt>
                                                    <dd class="col-sm-7">
                                                        <span id="modalLimiteCredito" class="info-tooltip-cadena" data-field="LimiteCredito" data-tooltip="Monto máximo de crédito autorizado">$0.00</span>
                                                    </dd>
                                                    <dt class="col-sm-5">Días de Crédito:</dt>
                                                    <dd class="col-sm-7">
                                                        <span id="modalDiasCredito" class="info-tooltip-cadena" data-field="DiasCredito" data-tooltip="Plazo de crédito en días">0</span>
                                                    </dd>
                                                    <dt class="col-sm-5">Total Órdenes:</dt>
                                                    <dd class="col-sm-7">
                                                        <span id="modalTotalOrdenes" class="info-tooltip-cadena" data-field="TotalOrdenes" data-tooltip="Número total de órdenes realizadas">0</span>
                                                    </dd>
                                                    <dt class="col-sm-5">Total Ventas:</dt>
                                                    <dd class="col-sm-7">
                                                        <span id="modalTotalVentas" class="info-tooltip-cadena" data-field="TotalVentas" data-tooltip="Monto total de ventas acumuladas">$0.00</span>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Información de Contacto</h5>
                                            </div>
                                            <div class="card-body">
                                                <dl class="row">
                                                    <dt class="col-sm-2">Email:</dt>
                                                    <dd class="col-sm-4">
                                                        <span id="modalContactEmail" class="info-tooltip-cadena" data-field="ContactEmail" data-tooltip="Correo electrónico de contacto">-</span>
                                                    </dd>
                                                    <dt class="col-sm-2">Teléfono:</dt>
                                                    <dd class="col-sm-4">
                                                        <span id="modalContactPhone" class="info-tooltip-cadena" data-field="ContactPhone" data-tooltip="Teléfono de contacto">-</span>
                                                    </dd>
                                                    <dt class="col-sm-2">Dirección:</dt>
                                                    <dd class="col-sm-10">
                                                        <span id="modalDireccion" class="info-tooltip-cadena" data-field="Direccion" data-tooltip="Dirección completa">-</span>
                                                    </dd>
                                                    <dt class="col-sm-2">Ciudad:</dt>
                                                    <dd class="col-sm-4">
                                                        <span id="modalCiudad" class="info-tooltip-cadena" data-field="Ciudad" data-tooltip="Ciudad">-</span>
                                                    </dd>
                                                    <dt class="col-sm-2">Estado:</dt>
                                                    <dd class="col-sm-4">
                                                        <span id="modalEstadoDireccion" class="info-tooltip-cadena" data-field="EstadoDireccion" data-tooltip="Estado o provincia">-</span>
                                                    </dd>
                                                    <dt class="col-sm-2">Código Postal:</dt>
                                                    <dd class="col-sm-4">
                                                        <span id="modalCodigoPostal" class="info-tooltip-cadena" data-field="CodigoPostal" data-tooltip="Código postal">-</span>
                                                    </dd>
                                                    <dt class="col-sm-2">País:</dt>
                                                    <dd class="col-sm-4">
                                                        <span id="modalPais" class="info-tooltip-cadena" data-field="Pais" data-tooltip="País">-</span>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </e-content-template>
                    </e-tab-item>
                </e-tab-tabitems>
            </ejs-tab>
        </div>
    </e-content-template>
    <e-dialog-buttons>
        <e-dialog-dialogbutton content="Editar" isPrimary="false" cssClass="e-flat" click="modalCadenaEditar"></e-dialog-dialogbutton>
        <e-dialog-dialogbutton content="Cerrar" isPrimary="true" click="modalCadenaCerrar"></e-dialog-dialogbutton>
    </e-dialog-buttons>
</ejs-dialog>

<script>
    var modalCadenaModo = 'ver';
    var modalCadenaId = null;
    var tooltipModalCadenaObj = null;
    window.modalCadenaInstance = null;
    
    window.modalCadenaCreated = function(args) {
        console.log('✅ Modal de cadena creado e inicializado por Syncfusion');
        if (args && args.component) {
            window.modalCadenaInstance = args.component;
        }
    };
    
    document.addEventListener("DOMContentLoaded", function() {
        var tooltipElement = document.getElementById('tooltipModalCadena');
        if (tooltipElement && tooltipElement.ej2_instances && tooltipElement.ej2_instances[0]) {
            tooltipModalCadenaObj = tooltipElement.ej2_instances[0];
        }
        setTimeout(function() {
            if (!window.modalCadenaInstance) {
                var dialogElement = document.getElementById('modalCadena');
                if (dialogElement && dialogElement.ej2_instances && dialogElement.ej2_instances[0]) {
                    window.modalCadenaInstance = dialogElement.ej2_instances[0];
                }
            }
        }, 500);
    });
    
    window.tooltipModalCadenaBeforeRender = function(args) {
        var target = args.target;
        var tooltipText = target.getAttribute('data-tooltip');
        var field = target.getAttribute('data-field');
        
        if (tooltipText) {
            var contentDiv = document.createElement('div');
            contentDiv.style.padding = '8px';
            contentDiv.style.fontSize = '13px';
            contentDiv.style.lineHeight = '1.5';
            
            var fieldName = document.createElement('strong');
            fieldName.textContent = field + ': ';
            fieldName.style.display = 'block';
            fieldName.style.marginBottom = '4px';
            fieldName.style.color = '#007bff';
            
            var description = document.createElement('span');
            description.textContent = tooltipText;
            
            contentDiv.appendChild(fieldName);
            contentDiv.appendChild(description);
            
            if (tooltipModalCadenaObj) {
                tooltipModalCadenaObj.content = contentDiv;
            }
        }
    };
    
    window.modalCadenaOpen = function(args) {
        console.log('Modal de cadena abierto');
    };
    
    window.modalCadenaClose = function(args) {
        console.log('Modal de cadena cerrado');
        modalCadenaId = null;
        modalCadenaModo = 'ver';
    };
    
    window.modalCadenaBeforeClose = function(args) {
        return true;
    };
    
    window.modalCadenaEditar = function() {
        if (modalCadenaId) {
            modalCadenaModo = 'editar';
            if (window.Chains && window.Chains.Modal) {
                window.Chains.Modal.CambiarAModoEdicion(modalCadenaId);
            }
        }
    };
    
    window.modalCadenaCerrar = function() {
        if (window.modalCadenaInstance) {
            window.modalCadenaInstance.hide();
        } else {
            console.warn('No se pudo cerrar el modal de cadena: instancia no disponible.');
        }
    };
</script>
