@* Modal unificado Ver/Editar Cadena usando Syncfusion Dialog *@
<ejs-tooltip id="tooltipModalCadena" 
             target=".info-tooltip-cadena" 
             opensOn="Hover" 
             width="300px"
             position="TopCenter"
             beforeRender="tooltipModalCadenaBeforeRender">
    <e-content-template>
        <div id="tooltipContentCadena"></div>
    </e-content-template>
</ejs-tooltip>

<ejs-dialog id="modalCadena" 
            isModal="true" 
            showCloseIcon="true" 
            width="80%" 
            height="85%" 
            visible="false"
            header="Cadena #<span id='modalCadenaTitulo'>0</span>"
            created="modalCadenaCreated"
            open="modalCadenaOpen"
            close="modalCadenaClose"
            beforeClose="modalCadenaBeforeClose">
    <e-content-template>
        <div id="modalCadenaContenido">
            <ejs-tab id="tabsModalCadena" heightAdjustMode="Auto">
                <e-tab-tabitems>
                    <e-tab-item header="@(new Syncfusion.EJ2.Navigations.TabHeader { Text = "Información General" })">
                        <e-content-template>
                            <div id="tabInfoModalCadena" class="mt-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Información de la Cadena</h5>
                                            </div>
                                            <div class="card-body">
                                                <dl class="row">
                                                    <dt class="col-sm-5">ID Cadena:</dt>
                                                    <dd class="col-sm-7">
                                                        <strong id="modalIdCadena" class="info-tooltip-cadena" data-field="IdCadena" data-tooltip="Identificador único de la cadena comercial">-</strong>
                                                    </dd>
                                                    <dt class="col-sm-5">Nombre:</dt>
                                                    <dd class="col-sm-7">
                                                        <span id="modalNombreCadena" class="info-tooltip-cadena" data-field="NombreCadena" data-tooltip="Nombre comercial de la cadena">-</span>
                                                    </dd>
                                                    <dt class="col-sm-5">Razón Social:</dt>
                                                    <dd class="col-sm-7">
                                                        <span id="modalRazonSocial" class="info-tooltip-cadena" data-field="RazonSocial" data-tooltip="Razón social legal de la empresa">-</span>
                                                    </dd>
                                                    <dt class="col-sm-5">RFC:</dt>
                                                    <dd class="col-sm-7">
                                                        <span id="modalRFC" class="info-tooltip-cadena" data-field="RFC" data-tooltip="Registro Federal de Contribuyentes">-</span>
                                                    </dd>
                                                    <dt class="col-sm-5">Estado:</dt>
                                                    <dd class="col-sm-7" id="modalEstadoCadena">
                                                        <span class="info-tooltip-cadena" data-field="Estado" data-tooltip="Estado de la cadena: ACTIVE (activa), INACTIVE (inactiva), SUSPENDED (suspendida)">-</span>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Información Comercial</h5>
                                            </div>
                                            <div class="card-body">
                                                <dl class="row">
                                                    <dt class="col-sm-5">Número de Sucursales:</dt>
                                                    <dd class="col-sm-7">
                                                        <span id="modalNumeroSucursales" class="info-tooltip-cadena" data-field="NumeroSucursales" data-tooltip="Total de sucursales de la cadena">0</span>
                                                    </dd>
                                                    <dt class="col-sm-5">Límite de Crédito:</dt>
                                                    <dd class="col-sm-7">
                                                        <span id="modalLimiteCredito" class="info-tooltip-cadena" data-field="LimiteCredito" data-tooltip="Monto máximo de crédito autorizado">$0.00</span>
                                                    </dd>
                                                    <dt class="col-sm-5">Días de Crédito:</dt>
                                                    <dd class="col-sm-7">
                                                        <span id="modalDiasCredito" class="info-tooltip-cadena" data-field="DiasCredito" data-tooltip="Plazo de crédito en días">0</span>
                                                    </dd>
                                                    <dt class="col-sm-5">Total Órdenes:</dt>
                                                    <dd class="col-sm-7">
                                                        <span id="modalTotalOrdenes" class="info-tooltip-cadena" data-field="TotalOrdenes" data-tooltip="Número total de órdenes realizadas">0</span>
                                                    </dd>
                                                    <dt class="col-sm-5">Total Ventas:</dt>
                                                    <dd class="col-sm-7">
                                                        <span id="modalTotalVentas" class="info-tooltip-cadena" data-field="TotalVentas" data-tooltip="Monto total de ventas acumuladas">$0.00</span>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Información de Contacto</h5>
                                            </div>
                                            <div class="card-body">
                                                <dl class="row">
                                                    <dt class="col-sm-2">Email:</dt>
                                                    <dd class="col-sm-4">
                                                        <span id="modalContactEmail" class="info-tooltip-cadena" data-field="ContactEmail" data-tooltip="Correo electrónico de contacto">-</span>
                                                    </dd>
                                                    <dt class="col-sm-2">Teléfono:</dt>
                                                    <dd class="col-sm-4">
                                                        <span id="modalContactPhone" class="info-tooltip-cadena" data-field="ContactPhone" data-tooltip="Teléfono de contacto">-</span>
                                                    </dd>
                                                    <dt class="col-sm-2">Dirección:</dt>
                                                    <dd class="col-sm-10">
                                                        <span id="modalDireccion" class="info-tooltip-cadena" data-field="Direccion" data-tooltip="Dirección completa">-</span>
                                                    </dd>
                                                    <dt class="col-sm-2">Ciudad:</dt>
                                                    <dd class="col-sm-4">
                                                        <span id="modalCiudad" class="info-tooltip-cadena" data-field="Ciudad" data-tooltip="Ciudad">-</span>
                                                    </dd>
                                                    <dt class="col-sm-2">Estado:</dt>
                                                    <dd class="col-sm-4">
                                                        <span id="modalEstadoDireccion" class="info-tooltip-cadena" data-field="EstadoDireccion" data-tooltip="Estado o provincia">-</span>
                                                    </dd>
                                                    <dt class="col-sm-2">Código Postal:</dt>
                                                    <dd class="col-sm-4">
                                                        <span id="modalCodigoPostal" class="info-tooltip-cadena" data-field="CodigoPostal" data-tooltip="Código postal">-</span>
                                                    </dd>
                                                    <dt class="col-sm-2">País:</dt>
                                                    <dd class="col-sm-4">
                                                        <span id="modalPais" class="info-tooltip-cadena" data-field="Pais" data-tooltip="País">-</span>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </e-content-template>
                    </e-tab-item>
                </e-tab-tabitems>
            </ejs-tab>
        </div>
    </e-content-template>
    <e-dialog-buttons>
        <e-dialog-dialogbutton id="btnModalEditar" content="Editar" isPrimary="false" cssClass="e-flat" click="modalCadenaEditar"></e-dialog-dialogbutton>
        <e-dialog-dialogbutton id="btnModalGuardar" content="Guardar" isPrimary="true" cssClass="e-flat d-none" click="modalCadenaGuardar"></e-dialog-dialogbutton>
        <e-dialog-dialogbutton id="btnModalCancelar" content="Cancelar" isPrimary="false" cssClass="e-flat d-none" click="modalCadenaCancelar"></e-dialog-dialogbutton>
        <e-dialog-dialogbutton id="btnModalCerrar" content="Cerrar" isPrimary="true" click="modalCadenaCerrar"></e-dialog-dialogbutton>
    </e-dialog-buttons>
</ejs-dialog>

<script>
    var modalCadenaModo = 'ver';
    var modalCadenaId = null;
    var tooltipModalCadenaObj = null;
    window.modalCadenaInstance = null;
    
    // FUNCIONES HELPER SIMPLES para mostrar/ocultar el modal desde JavaScript
    window.mostrarModalCadena = function() {
        // Prioridad 1: Instancia guardada
        if (window.modalCadenaInstance) {
            try {
                window.modalCadenaInstance.show();
                return true;
            } catch (e) {
                console.warn('⚠️ Error al mostrar modal usando instancia guardada:', e);
            }
        }
        
        // Prioridad 2: Buscar en el DOM
        var elemento = document.getElementById('modalCadena');
        if (elemento) {
            // Intentar obtener de ej2_instances
            if (elemento.ej2_instances && elemento.ej2_instances[0]) {
                try {
                    elemento.ej2_instances[0].show();
                    window.modalCadenaInstance = elemento.ej2_instances[0]; // Guardar para futuro uso
                    return true;
                } catch (e) {
                    console.warn('⚠️ Error al mostrar modal usando ej2_instances:', e);
                }
            }
            
            // Intentar obtener usando el método de Syncfusion
            try {
                if (typeof ej !== 'undefined' && ej.base && typeof ej.base.getComponent === 'function') {
                    var dialogInstance = ej.base.getComponent(elemento, 'dialog');
                    if (dialogInstance) {
                        dialogInstance.show();
                        window.modalCadenaInstance = dialogInstance; // Guardar para futuro uso
                        return true;
                    }
                }
            } catch (e) {
                // Ignorar error
            }
        }
        
        console.warn('⚠️ Modal no disponible aún, intentando obtener instancia...');
        return false;
    };
    
    window.ocultarModalCadena = function() {
        var elemento = document.getElementById('modalCadena');
        if (elemento && elemento.ej2_instances && elemento.ej2_instances[0]) {
            elemento.ej2_instances[0].hide();
            return true;
        }
        if (window.modalCadenaInstance) {
            window.modalCadenaInstance.hide();
            return true;
        }
        return false;
    };
    
    window.modalCadenaCreated = function(args) {
        console.log('✅ Modal de cadena creado e inicializado por Syncfusion');
        console.log('Args recibidos:', args);
        
        // Según documentación oficial de Syncfusion:
        // - args.component: instancia del componente Dialog
        // - args.element: elemento DOM del Dialog
        // El evento 'created' se dispara cuando el componente se crea e inserta en el DOM
        
        if (args && args.component) {
            // Método 1 (oficial): args.component contiene la instancia del Dialog
            window.modalCadenaInstance = args.component;
            console.log('✅ Instancia del Dialog guardada correctamente (args.component)');
        } else if (args && args.element) {
            // Método 2 (oficial): args.element contiene el elemento DOM, obtener instancia de ej2_instances
            var dialogElement = args.element;
            if (dialogElement && dialogElement.ej2_instances && dialogElement.ej2_instances[0]) {
                window.modalCadenaInstance = dialogElement.ej2_instances[0];
                console.log('⚠️ Instancia obtenida del elemento (args.element -> ej2_instances)');
            } else {
                // Intentar obtener usando el método oficial de Syncfusion
                try {
                    if (typeof ej !== 'undefined' && ej.base && typeof ej.base.getComponent === 'function') {
                        var dialogInstance = ej.base.getComponent(dialogElement, 'dialog');
                        if (dialogInstance) {
                            window.modalCadenaInstance = dialogInstance;
                            console.log('⚠️ Instancia obtenida usando ej.base.getComponent (args.element)');
                        }
                    }
                } catch (e) {
                    console.warn('⚠️ Error al obtener instancia de args.element:', e);
                }
            }
        } else {
            // Fallback: intentar obtener del DOM directamente
            setTimeout(function() {
                var dialogElement = document.getElementById('modalCadena');
                if (dialogElement) {
                    // Intentar obtener de ej2_instances
                    if (dialogElement.ej2_instances && dialogElement.ej2_instances[0]) {
                        window.modalCadenaInstance = dialogElement.ej2_instances[0];
                        console.log('⚠️ Instancia obtenida del DOM (fallback en created)');
                    } else {
                        // Intentar obtener usando el método oficial de Syncfusion
                        try {
                            if (typeof ej !== 'undefined' && ej.base && typeof ej.base.getComponent === 'function') {
                                var dialogInstance = ej.base.getComponent(dialogElement, 'dialog');
                                if (dialogInstance) {
                                    window.modalCadenaInstance = dialogInstance;
                                    console.log('⚠️ Instancia obtenida usando ej.base.getComponent (fallback)');
                                }
                            }
                        } catch (e) {
                            // Ignorar error
                        }
                    }
                }
                
                if (!window.modalCadenaInstance) {
                    console.warn('⚠️ Instancia aún no disponible, se intentará obtener cuando se abra el modal');
                }
            }, 100);
        }
    };
    
    // Función para inicializar el modal de forma agresiva
    function inicializarModalCadena() {
        var dialogElement = document.getElementById('modalCadena');
        if (!dialogElement) {
            return false;
        }
        
        // Intentar obtener la instancia de múltiples formas
        var instancia = null;
        
        // Método 1: ej2_instances
        if (dialogElement.ej2_instances && dialogElement.ej2_instances[0]) {
            instancia = dialogElement.ej2_instances[0];
        }
        
        // Método 2: ej.base.getComponent
        if (!instancia && typeof ej !== 'undefined' && ej.base && typeof ej.base.getComponent === 'function') {
            try {
                instancia = ej.base.getComponent(dialogElement, 'dialog');
            } catch (e) {
                // Ignorar error
            }
        }
        
        // Método 3: Buscar en el objeto del elemento
        if (!instancia && dialogElement.ej2_instances && dialogElement.ej2_instances.length > 0) {
            for (var i = 0; i < dialogElement.ej2_instances.length; i++) {
                if (dialogElement.ej2_instances[i] && typeof dialogElement.ej2_instances[i].show === 'function') {
                    instancia = dialogElement.ej2_instances[i];
                    break;
                }
            }
        }
        
        if (instancia) {
            window.modalCadenaInstance = instancia;
            console.log('✅ Instancia del modal de cadena obtenida e inicializada');
            return true;
        }
        
        return false;
    }
    
    document.addEventListener("DOMContentLoaded", function() {
        var tooltipElement = document.getElementById('tooltipModalCadena');
        if (tooltipElement && tooltipElement.ej2_instances && tooltipElement.ej2_instances[0]) {
            tooltipModalCadenaObj = tooltipElement.ej2_instances[0];
        }
        
        // Intentar inicializar el modal múltiples veces con diferentes delays
        var intentos = [500, 1000, 2000, 3000];
        intentos.forEach(function(delay) {
            setTimeout(function() {
                if (!window.modalCadenaInstance) {
                    if (inicializarModalCadena()) {
                        console.log('✅ Modal de cadena inicializado después de ' + delay + 'ms');
                    }
                }
            }, delay);
        });
    });
    
    // También intentar después de que la ventana se cargue completamente
    window.addEventListener('load', function() {
        setTimeout(function() {
            if (!window.modalCadenaInstance) {
                if (inicializarModalCadena()) {
                    console.log('✅ Modal de cadena inicializado después de window.load');
                }
            }
        }, 500);
    });
    
    window.tooltipModalCadenaBeforeRender = function(args) {
        var target = args.target;
        var tooltipText = target.getAttribute('data-tooltip');
        var field = target.getAttribute('data-field');
        
        if (tooltipText) {
            var contentDiv = document.createElement('div');
            contentDiv.style.padding = '8px';
            contentDiv.style.fontSize = '13px';
            contentDiv.style.lineHeight = '1.5';
            
            var fieldName = document.createElement('strong');
            fieldName.textContent = field + ': ';
            fieldName.style.display = 'block';
            fieldName.style.marginBottom = '4px';
            fieldName.style.color = '#007bff';
            
            var description = document.createElement('span');
            description.textContent = tooltipText;
            
            contentDiv.appendChild(fieldName);
            contentDiv.appendChild(description);
            
            if (tooltipModalCadenaObj) {
                tooltipModalCadenaObj.content = contentDiv;
            }
        }
    };
    
    window.modalCadenaOpen = function(args) {
        console.log('Modal de cadena abierto');
    };
    
    window.modalCadenaClose = function(args) {
        console.log('Modal de cadena cerrado');
        modalCadenaId = null;
        modalCadenaModo = 'ver';
    };
    
    window.modalCadenaBeforeClose = function(args) {
        return true;
    };
    
    window.modalCadenaEditar = function() {
        if (modalCadenaId) {
            modalCadenaModo = 'editar';
            if (window.Chains && window.Chains.Modal) {
                window.Chains.Modal.CambiarAModoEdicion(modalCadenaId);
            }
        }
    };

    window.modalCadenaGuardar = function() {
        if (window.Chains && window.Chains.Modal) {
            window.Chains.Modal.GuardarCambios();
        }
    };

    window.modalCadenaCancelar = function() {
        if (window.Chains && window.Chains.Modal) {
            window.Chains.Modal.CancelarEdicion();
        }
    };
    
    window.modalCadenaCerrar = function() {
        // Si está en modo edición, cancelar primero
        if (modalCadenaModo === 'editar') {
            if (window.Chains && window.Chains.Modal) {
                window.Chains.Modal.CancelarEdicion();
            }
        }
        
        if (typeof window.ocultarModalCadena === 'function') {
            window.ocultarModalCadena();
        } else {
            if (window.modalCadenaInstance) {
                window.modalCadenaInstance.hide();
            } else {
                console.warn('No se pudo cerrar el modal de cadena: instancia no disponible.');
            }
        }
    };
</script>
